/* حالت دارک مود */
:root {
  --background-color: #ffffff;
  --text-color: #000000;
  --header-bg-color: #f4f4f4;
  --sidebar-bg-color: #ffffff;
  --footer-bg-color: #f4f4f4;
}

:root.dark {
  --background-color: #121212;
  --text-color: #ffffff;
  --header-bg-color: #1e1e1e;
  --sidebar-bg-color: #1e1e1e;
  --footer-bg-color: #1e1e1e;
}

body {
  background-color: var(--background-color);
  color: var(--text-color);
  margin: 0;
  padding: 0;
  transition:
    background-color 0.3s ease,
    color 0.3s ease;
}
